th, td {
    padding: 8px 12px;
    border: 1px solid lightgrey;
    text-align: left;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: lightgray;
    
}

.pagination {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.pagination button {
    margin: 0 5px;
    padding: 8px 12px;
    border: 1px solid white;
    background-color: white;
    /* cursor: pointer; */
}

.pagination button.active {
    background-color: blue;
    color: rgb(141, 128, 6);
}
/* .pagination button.disabled {
    cursor: not-allowed;
    opacity: 0.6;
} */